{% extends "base.html" %}
{% block title %}home{% endblock %}
{% block content %}
<body>

  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1>Reducing our carbon footprint is not just a choice; it's a responsibility</h1>
      <p>The power to make change</p>
      <button class="cta-btn">LEARN MORE</button>
    </div>
  </section>

  <!-- About Us Section -->
  <section class="about">
    <div class="about-content">
      <h2>About us</h2>
      <div class="about-details">
        <img src="about-image.jpg" alt="Green tree representation" class="about-img">
        <p class="about-text">
          ROLSA Technologies is a local green technology company that specializes in solar panel installation and maintenance, electric vehicle (EV) charging stations, and smart home energy management systems. We also provide information about green energy products and how to reduce your carbon footprint.
        </p>
      </div>
    </div>
  </section>


{% endblock %}